<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="book in books">
                <a ng-click="select(book)">{{book.title}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8" ng-show="selectedBook !== undefined">
        <dl class="dl-horizontal">
            <dt>Titel:</dt>
            <dd>{{selectedBook.title}}</dd>
            <dt>Författare:</dt>
            <dd><span ng-repeat="author in selectedBook.authors">{{author.forename}} {{author.surname}}<br/></span></dd>
            <dt>ISBN:</dt>
            <dd>{{selectedBook.isbn}}</dd>
            <dt>Utgiven:</dt>
            <dd>{{selectedBook.publicationDate}}</dd>
        </dl>
    </div>
</div>