body {
    background-color: #27CCA7;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    padding-top: 70px;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}